.beverage_flex{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
   border-radius: 2em;
    /* backdrop-filter: blur(10px); */
    background: rgba(0,0,0,0.7);
    margin: 2em -9.2em;
}

.beverage_container{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Canyon_Lake_Gorge_March_2017_IMG1758.jpg/1200px-Canyon_Lake_Gorge_March_2017_IMG1758.jpg?20170326143011");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2em auto;
}

.beverage_flex h1{
    font-size: 3em;
    
    padding: 0em 1em;
    font-family: Abril Fatface;
    color: White;
    font-weight: bolder;
    margin-bottom: .5em;
    margin-top: 1em;
    text-shadow: 2px 2px 8px black;
    letter-spacing: 10px;


}

.beverage_flex p{

    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    padding: 2em;
    margin: 1em 2em ;
    color: black;
    font-weight: bolder;
    backdrop-filter: blur(10px);

    text-shadow: 2px 2px 8px black;
    
    
}


 .img_flex{

    max-width: 20vw;
    max-height: 30em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    

}
 .img_flex img{

    width: 20vw;
    height: 30em;
    object-fit: contain;
   border-radius: 2em;

}