

.spacing_line{
    border-bottom: 5px solid black;
    margin-top: 3em;
    box-shadow: 5px 5px 8px black;
}

.map_container {
    box-shadow: 7px 7px 10px black;
}

.carousel_container{
    backdrop-filter: blur(10px);
    margin-top: 1em;
    border-radius: 2em;
    
}
.carousel_container h1{
    font-size: 3em;
    
    color: white;
    font-family: Abril fatface;
    text-shadow: 5px 5px 8px black;
    letter-spacing: 10px;
    border-bottom: 5px solid white;
    box-shadow: 2px 2px 8px black;
    padding: 1em;
    
}
.carousel_container img{

    object-fit: cover;
    border-radius: 7em;
    

}
/* .carouselHeader_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.carouselHeader_container h1{
    font-size: 3em;
   
    color: aqua;
    font-family: Abril fatface;
    text-shadow: 2px 2px 8px black;
} */